{
  "semi": false,
  "singleQuote": true,
  "printWidth": 150,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "tsxSingleQuote": true,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "singleAttributePerLine": true,
  "bracketSameLine": false
}